.body1{
  margin-left: 220px;
  margin-right: 220px;
  word-wrap: break-word;
  line-height: 25px;
}

.heading{
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: space-between;
  background-color: rgb(66, 66, 65);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.leftheader{
  margin-left: 10px;
  font-size: 40px;
}

.rightheader{
  margin-right: 10px;
  font-size: 40px;
}

.bodysection{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
}

.bodyheader {
  font-size: 40px;
  text-align: center;
  display: block;
}

.strongtext{
  font-size: 18px;
  color: rgb(81, 72, 163);
} 

.otherlinks{
  color: rgb(84, 104, 170);
}

.otherlinks:hover{
  border-bottom: 3px solid;
  border-color: red;
}

.bulletedhead{
  color: red;
  font-size: 17px;
  text-decoration: none;
}

.bulletedhead:hover{
  border-bottom: 3px solid;
  border-color: rgb(84, 104, 170);
  cursor: pointer;
}

.lightdarkmode:hover{
  cursor: pointer;
}

@media (max-width: 360px){
  .body1{
    margin-left: 0px;
    margin-right: 50px;
  }
  .bodyheader{
    line-height: 30px;
  }
  
}
@media (max-width: 600px) {
  .body1{
    margin-left: 0px;
    margin-right: 0px;
  }
  .bodyheader{
    line-height: 30px;
  }
}
@media (max-width: 740px) {
  .body1{
    margin-left: 0px;
    margin-right: 0px;
  }
  .bodyheader{
    line-height: 30px;
  }
}
@media (max-width: 1024px){
  .body1{
    margin-left: 0px;
    margin-right: 0px;
  }
  .bodyheader{
    line-height: 30px;
  }
}
